---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@/styles/global.css'

export interface Props {
  description: string
  image?: string
  title: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { image = '/placeholder-social.jpg', description, title } = Astro.props
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta content="width=device-width,initial-scale=1" name="viewport" />
<link type="image/svg+xml" href="/favicon.svg" rel="icon" />
<meta content={Astro.generator} name="generator" />

<!-- Canonical URL -->
<link href={canonicalURL} rel="canonical" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta content={title} name="title" />
<meta content={description} name="description" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta content={Astro.url} property="og:url" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta content={new URL(image, Astro.url)} property="og:image" />

<!-- Twitter -->
<meta content="summary_large_image" property="twitter:card" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta content={new URL(image, Astro.url)} property="twitter:image" />
